@font-face {
    font-family: StreamerDemo;
    src: url("./StreamerDemo-eZ4Dg.otf") format("opentype");
}

body{
    margin: 0;
    background-image: url("apocalipse-zumbi-na-sua-cidade.jpg");
    background-size: cover;
    font-family: 'Luxurious Roman', cursive;
}

.title {
    font-family: "StreamerDemo";
    text-align: center;
    font-size: 27px;

}
.historia{
    color: white;
    background-color: black;
    margin: 20px 20px 20px 20px;
    border-radius: 15px;
    opacity: 90%;
    padding: 15px;
    padding-left: 20px;
    font-size: 12px;
}

.historia h2 {
    color: red;
    font-family: 'Luxurious Roman', cursive;
    text-align: center;
    font-size: 20px;
}

.flex-container{
    display: flex;
    width: 100%;
    margin-bottom: 70px;
    justify-content: space-around;
  
}
.personagens img{
    width: 300px;
    height: 200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-width: 5px;
    border-color: black;
    border-style: inset;
}


.personagens {
    padding: 5px;
    border-radius: 15px;
    border-width: 5px;
    background-color: black;
    border-color: black;
    border-style: inset;
    height: 230px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
    width: 307px;
}

a:hover{
    border-color: red;
    border-width: 8px;
}

.personagens h1 {
    font-family: 'Luxurious Roman', cursive;
    font-size: 18px;
    margin: 0;
    padding: 0;
}
footer{
    position: fixed;
    height: 35px;
    background-color: black;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    color: white;
    text-align: center;
    padding-top: 15px;
    font-family: 'Luxurious Roman', cursive;
}


@media (max-width: 700px){
    .flex-container{
    flex-direction: column;
    align-items: center;
    }

    .personagens {
        margin-bottom: 30px;
    }
}

